<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome {{ title }}!
  </h1>
  </div>
   <!----Parent of module 8-->
  <app-parent></app-parent>
 <!--calling parent of module6-->
  <app-parent-module6></app-parent-module6>
   <!--calling parent of module5-->
  <app-parent-module5></app-parent-module5>
   <!--calling parent of module4-->
  <app-parent-module4></app-parent-module4>
   <!--calling parent of module3-->
  <app-parent-module3></app-parent-module3>
 <!--calling  module2-->
  <app-component1></app-component1>
 <!--calling module1-->
  <app-component2></app-component2>


